In [6]:
import pandas as pd
import numpy as np
import math as math

In [7]:

df = pd.read_csv("The Medical Expenditure Panel Survey (MEPS).csv")

# To check if it loaded correctly
print(df.head())

      DUID  PID    DUPERSID  PANEL  DATAYEAR FAMID31 FAMID42 FAMID53 FAMID22  \
0  2460002  101  2460002101     24      2022       A       A       A       A
1  2460006  101  2460006101     24      2022       A       A       A       A
2  2460006  102  2460006102     24      2022       A       A       A       A
3  2460010  101  2460010101     24      2022       A       A       A       A
4  2460018  101  2460018101     24      2022       A       A       A       A

  FAMIDYR  ... RXOSR22  RXPTR22  RXOTH22      PERWT22F      FAMWT22F  \
0       A  ...     0.0      0.0      0.0   5728.309495   5232.211986
1       A  ...     0.0      0.0      0.0  15648.881460  16017.881690
2       A  ...     0.0      0.0      0.0  14123.720180  16017.881690
3       A  ...     0.0   5288.0    299.0  16982.054920  21905.758880
4       A  ...     0.0     10.0      0.0  10682.619950  11344.291010

       FAMWT22C     SAQWT22F     DIABW22F  VARSTR  VARPSU
0   5232.211986   3994.68714  6034.636755  2082.0     1.0
1  16017.881690      0.00000     0.000000  2001.0     4.0
2  12580.731740      0.00000     0.000000  2001.0     4.0
3  21905.758880      0.00000     0.000000  2038.0     3.0
4  11344.291010  17152.43941     0.000000  2041.0     1.0

[5 rows x 1420 columns]

In [8]:
df.isnull().sum()
print

In [15]:

df = df.rename(columns={
    '(OFFICE-BASED PHYSICIAN VISIT CHARGES 22)OBDTCH22': 'Total Office Based Visit Costs',
    'NOSMOK42': 'Dr Advised Smoking at Home is Bad',
    'ADASKALC42': 'Alcohol Consumption',
    'ADSTAL42': 'Advised to Stop Alcohol',
    'INDCAT31': 'Work Industry',
    'EDUCYR': 'Years of Education',
    'COVAXEVR31': 'Covid Vaccine',
    'ADFLST42': 'Flu Vaccine prior 12 months',
    'ADCHLC42': 'Cholesterol checked within 5 years',
    'CHOLDX': 'High Cholesterol Diagnosis',
    'PHYSCL42': 'Dr Advised Exercise',
    'DIABDX_M18': 'Diabetes Diagnosis',
    'OFTSMK53' : 'Smoking Frequency',
    'ADSEX42' : 'Gender',
   
    })



df = df[['Total Office Based Visit Costs',
         'Dr Advised Smoking at Home is Bad',
         'Alcohol Consumption',
         'Advised to Stop Alcohol',
         'Work Industry',
         'Years of Education',
         'Covid Vaccine',
         'Flu Vaccine prior 12 months',
         'Cholesterol checked within 5 years',
         'High Cholesterol Diagnosis',
         'Dr Advised Exercise',
         'Diabetes Diagnosis',
         'Smoking Frequency',
         'Gender']]

# View summary info
print(df.head())
df.info()
df.describe()

   Total Office Based Visit Costs  Dr Advised Smoking at Home is Bad  \
0                           248.0                                 -1
1                         16039.0                                 -1
2                           217.0                                 -1
3                          1278.0                                 -1
4                          3530.0                                 -1

   Alcohol Consumption  Advised to Stop Alcohol  Work Industry  \
0                    1                        2           -1.0
1                   -1                       -1           -1.0
2                   -1                       -1            5.0
3                   -1                       -1           10.0
4                    4                        2           10.0

   Years of Education  Covid Vaccine  Flu Vaccine prior 12 months  \
0                   6              2                            2
1                  14              1                           -1
2                  17              1                           -1
3                  16              1                           -1
4                  16              1                            1

   Cholesterol checked within 5 years  High Cholesterol Diagnosis  \
0                                   1                           1
1                                  -1                           2
2                                  -1                           2
3                                  -1                           2
4                                   1                           1

   Dr Advised Exercise  Diabetes Diagnosis  Smoking Frequency  Gender
0                   -1                   1                  3       2
1                   -1                   2                  3      -1
2                   -1                   2                 -8      -1
3                   -1                   2                  2      -1
4                   -1                   2                  3       2
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5364 entries, 0 to 5363
Data columns (total 14 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Total Office Based Visit Costs      5363 non-null   float64
 1   Dr Advised Smoking at Home is Bad   5364 non-null   int64
 2   Alcohol Consumption                 5364 non-null   int64
 3   Advised to Stop Alcohol             5364 non-null   int64
 4   Work Industry                       5363 non-null   float64
 5   Years of Education                  5364 non-null   int64
 6   Covid Vaccine                       5364 non-null   int64
 7   Flu Vaccine prior 12 months         5364 non-null   int64
 8   Cholesterol checked within 5 years  5364 non-null   int64
 9   High Cholesterol Diagnosis          5364 non-null   int64
 10  Dr Advised Exercise                 5364 non-null   int64
 11  Diabetes Diagnosis                  5364 non-null   int64
 12  Smoking Frequency                   5364 non-null   int64
 13  Gender                              5364 non-null   int64
dtypes: float64(2), int64(12)
memory usage: 586.8 KB

,Total Office Based Visit Costs,Dr Advised Smoking at Home is Bad,Alcohol Consumption,Advised to Stop Alcohol,Work Industry,Years of Education,Covid Vaccine,Flu Vaccine prior 12 months,Cholesterol checked within 5 years,High Cholesterol Diagnosis,Dr Advised Exercise,Diabetes Diagnosis,Smoking Frequency,Gender
count,5363.000000,5364.000000,5364.000000,5364.000000,5363.000000,5364.000000,5364.000000,5364.000000,5364.000000,5364.000000,5364.000000,5364.000000,5364.000000,5364.000000
mean,2876.164460,-0.568419,0.351603,0.233781,2.861645,10.862603,1.157532,0.005779,-0.135160,1.092095,-0.576063,1.845451,1.944444,-0.162192
std,11647.075357,1.074330,2.963350,2.221252,5.207828,5.580054,0.960519,2.086906,2.016481,1.192814,1.031661,0.521204,1.891394,2.678110
min,0.000000,-8.000000,-15.000000,-15.000000,-15.000000,-8.000000,-8.000000,-15.000000,-15.000000,-8.000000,-8.000000,-8.000000,-8.000000,-15.000000
25%,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,9.000000,1.000000,-1.000000,-1.000000,1.000000,-1.000000,2.000000,1.000000,-1.000000
50%,333.000000,-1.000000,-1.000000,-1.000000,-1.000000,12.000000,1.000000,-1.000000,-1.000000,1.500000,-1.000000,2.000000,3.000000,-1.000000
75%,1833.000000,-1.000000,1.000000,2.000000,8.000000,16.000000,2.000000,1.000000,1.000000,2.000000,-1.000000,2.000000,3.000000,2.000000
max,283775.000000,2.000000,7.000000,2.000000,15.000000,17.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000