In [1]:
import pandas as pd
import numpy as np
import math as math

In [3]:

df = pd.read_csv("The Medical Expenditure Panel Survey (MEPS).csv")

# To check if it loaded correctly
print(df.head())

      DUID  PID    DUPERSID  PANEL  DATAYEAR FAMID31 FAMID42 FAMID53 FAMID22  \
0  2460002  101  2460002101     24      2022       A       A       A       A
1  2460006  101  2460006101     24      2022       A       A       A       A
2  2460006  102  2460006102     24      2022       A       A       A       A
3  2460010  101  2460010101     24      2022       A       A       A       A
4  2460018  101  2460018101     24      2022       A       A       A       A

  FAMIDYR  ... RXOSR22  RXPTR22  RXOTH22      PERWT22F      FAMWT22F  \
0       A  ...       0        0        0   5728.309495   5232.211986
1       A  ...       0        0        0  15648.881460  16017.881690
2       A  ...       0        0        0  14123.720180  16017.881690
3       A  ...       0     5288      299  16982.054920  21905.758880
4       A  ...       0       10        0  10682.619950  11344.291010

       FAMWT22C     SAQWT22F     DIABW22F  VARSTR  VARPSU
0   5232.211986   3994.68714  6034.636755    2082       1
1  16017.881690      0.00000     0.000000    2001       4
2  12580.731740      0.00000     0.000000    2001       4
3  21905.758880      0.00000     0.000000    2038       3
4  11344.291010  17152.43941     0.000000    2041       1

[5 rows x 1420 columns]

In [5]:
df.isna().sum()
print

In [19]:
df = df.rename(columns = {'(TOTAL OFF-BASED DR EXP 22 )OBDEXP22'
 : 'Total Office Based Visit Costs'})

print(df['Total Office Based Visit Costs'])


col = "Total Office Based Visit Costs"
print(f"Mean {col}: {df[col].mean()}")

0           3
1        6735
2          23
3         500
4        2137
         ...
22426     943
22427    1103
22428    2530
22429     815
22430     103
Name: Total Office Based Visit Costs, Length: 22431, dtype: int64
Mean Total Office Based Visit Costs: 1023.2176006419687